@using Models
@model IEnumerable<Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="haderTitle">Customer Details</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <a asp-action="Create" asp-controller="Customer" class="btn btn-primary"><i class="fas fa-user-plus"></i> Create Customer</a>
    </div>
</div>

<div class="row" id="styleDataTableCustomer">
    <div class="col-md-12">
        <table id="dataTable" class="display table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Basic Info</th>
                    <th>Branch And Join Date</th>
                    <th>Picture</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (Customer item in Model)
                {
                    <tr>
                        <td>
                            @item.Name <br />
                            @item.Email <br />
                            @item.ContactNo <br />
                        </td>
                        <td>
                            @item.JoinDate <br />
                            @item.Branch.Name <br />
                            <address> @item.Address </address> <br />
                        </td>                          
                        <td>
                            <img src="~/@item.Picture" height="120" width="120" />
                        </td>
                        <td>
                            <a asp-route-id="@item.Id" asp-action="Update" class="btn btn-info"><i class="fas fa-external-link-alt"></i> Edit</a>
                            <a asp-route-id="@item.Id" asp-action="Remove" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



