@using Models
@model IEnumerable<Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="haderTitle">Account Details</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <a asp-action="Create" asp-controller="Account" class="btn btn-primary"><i class="fas fa-user-plus"></i> Create Account</a>
    </div>
</div>

<div class="row" id="styleDataTableCountry">
    <div class="col-md-8">
        <table id="dataTable" class="display table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Basic Info</th>
                    <th>Account Info</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (Account item in Model)
                {
                    <tr>
                        <td>
                            @item.Branch.Name <br />
                            @item.AccountType.Name <br />
                            @item.AccountStatus.Name <br />
                        </td>
                        <td>
                            @item.Customer.Name <br />
                            @item.AccountNumber <br />
                            @item.Balance <br />
                        </td>
                        <td>
                            <a asp-route-id="@item.Id" asp-action="Update" class="btn btn-info"><i class="fas fa-external-link-alt"></i> Edit</a>
                            <a asp-route-id="@item.Id" asp-action="Remove" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

